body {
    height: auto;
    width: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    background-image: url('https://thumbs.dreamstime.com/b/red-white-gingham-seamless-pattern-checkered-texture-picnic-blanket-tablecloth-plaid-clothes-italian-style-overlay-fabric-213286863.jpg');
    object-fit: cover;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #container {
    background-color: rgba(245, 224, 224, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    min-height: 50%;
    width: 50%;
    padding: 50px;
  }
  